.togglePoopingButton {
  display: flex;
  justify-content: center;
}

.recordPoopingButton {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  justify-content: center;
}
