
<div class="page">

  <div class="menu-top">
    <mat-toolbar color="primary">
      <span>PoopBuddy</span>
    </mat-toolbar>
  </div>

  <div class="content">
    <div class="content-top">
      <div class="pooping-list-container">
        <list-pooping></list-pooping>
      </div>
    </div>
    
    <div class="content-bottom">
      <div class="nameInput-container">
        <start-pooping></start-pooping>
      </div>

      <div class="title-container">
        <h1 class="title">To start pooping press below button</h1>
      </div>

      <div class="buttons-container">
        <app-timer></app-timer>
      </div>
    </div>


  </div>

  <router-outlet></router-outlet>
</div>
