.page {
  height: 100vh;
  display: flex;
  flex-direction: column;


  .menu-top {
    .toolbar {
      padding: 0;

      .toolbar-page-title-wrapper {
        padding: 0 16px;
        height: 100%;
        display: flex;
        cursor: pointer;
        align-items: center;
      }

      .toolbar-spacer {
        flex: 1 1 auto;
      }

      .toolbar-icon-wrapper {
        padding: 0 16px;
        height: 100%;
        display: flex;
        cursor: pointer;
        align-items: center;

        mat-icon {
          width: 36px;
          height: 36px;
          font-size: 36px;
        }
      }
    }
  }


  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .content-inside{
      height: 100%;
      width: 100%;
      display:flex;
      justify-content: center;

    }
    .content-top {
      width: 100%;

      .pooping-list-container {
        display: flex;
        width: 100%;

        * {
          width: inherit;
        }
      }
    }

    .content-bottom {

      .title-container {

        .title {
          text-align: center;
          width: 100%;
        }
      }

      .buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
