<div>
  <table mat-table [dataSource]="poopingList" class="pooping-list-table mat-elevation-z1">
    <ng-container matColumnDef="authorName">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let pooping">{{pooping.authorName}}</td>
    </ng-container>

    <ng-container matColumnDef="poopingDuration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let pooping">{{pooping.duration}}</td>
    </ng-container>

    <ng-container matColumnDef="wagePerHour">
      <th mat-header-cell *matHeaderCellDef>Wage per hour</th>
      <td mat-cell *matCellDef="let pooping">{{pooping.wagePerHour}}</td>
    </ng-container>

    <ng-container matColumnDef="totalEarnings">
      <th mat-header-cell *matHeaderCellDef>Total earnings</th>
      <td mat-cell *matCellDef="let pooping">{{calculateEarning(pooping.duration, pooping.wagePerHour).toString() | slice:0:4}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
