<div style="display: flex;">
  <mat-table [dataSource]="poopingList" class="pooping-list-table mat-elevation-z1">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let pooping">{{pooping.position}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="authorName">
      <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
      <mat-cell *matCellDef="let pooping">{{pooping.authorName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="poopingDuration">
      <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
        <mat-cell *matCellDef="let pooping">{{pooping.duration}}</mat-cell>
</ng-container>

    <ng-container matColumnDef="wagePerHour">
      <mat-header-cell *matHeaderCellDef>Wage per hour</mat-header-cell>
        <mat-cell *matCellDef="let pooping">{{pooping.wagePerHour}} $</mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalEarnings">
      <mat-header-cell *matHeaderCellDef>Total earnings</mat-header-cell>
      <mat-cell *matCellDef="let pooping">{{pooping.earnings.toString() | slice:0:4}} $</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
